@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700');

body{
    background: #000000 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
a:hover{
    color:#ffffff;
    font-family: Raleway, sans-serif;
   
}

h1{
  font-size: 90px;
  -webkit-animation-duration: 1.6s !important;
  -webkit-animation-delay: 1s; 
  -webkit-animation-iteration-count:1;

}

h3{
  font-size: 60px;
  -webkit-animation-duration: 2s !important;
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count:1;

}
h4{
  font-size: 20px;
  padding-top: 20px;
  -webkit-animation-duration: 2s !important;
  -webkit-animation-delay: 3s;
  -webkit-animation-iteration-count:1;

}
.social{font-size: 18px;}

.link-more{
    color: white;
    font-size: 25px;
    text-align: center;
    position: fixed;
    bottom:30px;
    left: 15px;
    
   -webkit-animation-duration: 1.5s !important;
   -webkit-animation-delay: 5s;
   -webkit-animation-iteration-count:1;
}
.git-more{
    color: white;
    font-size: 25px;
    text-align: center;
    position: fixed;
    bottom:30px;
    right: 15px;
    
   -webkit-animation-duration: 1.5s !important;
   -webkit-animation-delay: 5s;
   -webkit-animation-iteration-count:1;
}
blockquote{
     padding-top: 20px;
  -webkit-animation-duration: 2s !important;
  -webkit-animation-delay: 4s;
  -webkit-animation-iteration-count:1;
}
.mb-0{
    color: #7b7b7b;
    font-family: Raleway, sans-serif;
}
.blockquote-footer{
    color: #484848;
    font-family: Raleway, sans-serif;
}
.header{
    margin-top: 120px;
    padding: 40px;
}
  
    .fa-linkedin{
        background: #0073b1 !important;
        width: 50%;
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 15px;
        text-align: center;
        color: #ffffff;
        -webkit-animation-duration: 1.5s !important;
        -webkit-animation-delay: 5s;
        -webkit-animation-iteration-count:1;
        
    }
 
    .fa-github{
        background: #999 !important;
        width: 50%;
        position: fixed;
        bottom: 0;
        right: 0;
        padding: 15px;
        text-align: center;
        color: #ffffff;
        -webkit-animation-duration: 1.5s !important;
        -webkit-animation-delay: 5s;
        -webkit-animation-iteration-count:1;
        
    }

@media screen and (min-width: 1500px){ 
h1{
  font-size: 70px;
  
}

h3{
  font-size: 40px;
 
}

    
    

}

@media screen and (max-width: 1275px){ 
h1{
  font-size: 60px;
  
}

h3{
  font-size: 30px;
 
}

}

@media screen and (max-width: 975px){ 
h1{
  font-size: 60px;
  
}
    .social{font-size: 16px;}

h3{
  font-size: 30px;
 
}
   
    .fa-linkedin{
    
        padding: 15px;
        
        
    }
    
    
    .fa-github{
    
        padding: 15px;
        
        
    }
    

    
}

@media screen and (max-width: 775px){ 

h1{
  font-size: 36px;
  
}
    h3{
  font-size: 26px;
 
}
        

}

/*Extra small devices*/
@media screen and (max-width: 575px){ 

h1{
  font-size: 25px;
  
}

h3{
  font-size: 20px;
 

}

h4{
  font-size: 13.5px;
  padding-top: 5px;
  

}
    
blockquote{
     padding-top: 10px;
    
}
.mb-0{
    color: #7b7b7b;
    font-size: 14px;
}
.blockquote-footer{
    color: #484848;
    font-size: 13px;
}

}

